@use "sass:map";
@import 'style/pages/_theme.scss';
.header__top{
    background-color: #CFD7A4;
}

.header__top_left {
    display: flex;
    padding: 10px 0 10px;
    align-items: center;

    ul {
        display: flex;
        column-gap: 10px;
        list-style: none;

        
        li:last-child{
            margin-left: 10px;


        a {
            font-size: 14px;
        }
    }
}

.header__top_right {
    display: flex;
    justify-content: end;
    padding: 10px 0 10px;
    align-items: center;

    ul {
        display: flex;
        column-gap: 5px;
        list-style: none;

        li:last-child{
            margin-left: 10px;

            span {
                font-size: 14px;
                margin-left: 2px;
                font-weight: 500;
            }
        }

        a {
            font-size: 14px;
            display: inline-block;
            color: map.get($theme-colors, "normal_text");;
        }
    }
}