@use "sass:map";
@import '';
.header__top{
    background-color: #CFD7A4;
}

.header__top_right {
    display: flex;
    justify-content: end;

    ul {
        display: flex;
        column-gap: 5px;
        list-style: none;

        a {
            font-size: 14px;
            display: inline-block;
        }
    }
}