@use "sass:map";
@import 'style/pages/_theme.scss';

.categories__banner {
    margin-top: 40px;
    margin-bottom: 30px;

    .categories__banner_img {
        background-repeat: no-repeat;
        background-size: cover;
        width: 350px;
        height: 300px;
        border-radius: 20px;
        background-color: #f3f6fa;
    }

    p {
        padding-top: 10px;
        text-align: center;
        font-size: 24px;
        font-weight: 500;
    }
}

.feature {
    margin-top: 50px;

    .section-title {
        margin-bottom: 50px;
        text-align: center;

        h2 {
            position: relative;
        }

        h2:after {
            
        }
    }
}